<section id="about" class="text-white row g-0 justify-content-center align-items-center">
  <div class="container">
    <div class="row px-5">
        <div class="title">
    <h1 class="text-uppercase text-center">about component</h1>
    <div  class="star-dec position-relative text-center">
      <i class="fa-solid fa-star text-white"></i>
    </div>
    <div class="caption row justify-content-center pt-2 gy-3">
        <div class="ps-md-5 col-md-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="pe-md-5 col-md-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>
  </div>
    </div>
  </div>
</section>
