<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="title">
        <h1 class="text-uppercase text-center premium-color">
          conatct section
        </h1>
      </div>
      <div class="position-relative star-portfolio text-center">
        <i class="fa-solid fa-star premium-color"></i>
      </div>
      <div class="inputs row gy-3 justify-content-center">
        <input type="text" placeholder="userName" class="form-control" />
        <input type="text" placeholder="userAge" class="form-control" />
        <input type="email" placeholder="userEmail" class="form-control" />
        <input type="password" placeholder="Password" class="form-control" />
      </div>
    </div>
    <button class="p-2 rounded-2 btn text-uppercase  mt-2">send message</button>
  </div>
</section>
