button{
    width: fit-content;
    background: #1ABC9C;
    color: #fff;
    transition: all 1s;
}
button:hover{
    background: #1ABC9C;
    color: #fff;
}
button:active{
        background: #1ABC9C;
    color: #fff;
    transform: scale(.9);
}