<div class="title pt-5">
  <h1 class="text-uppercase text-center premium-color">
    conatct section
  </h1>
</div>
<div class="position-relative star-portfolio text-center">
  <i class="fa-solid fa-star premium-color"></i>
</div>

<section class="pb-5">
  <div class="container p-0">
    <div class="row justify-content-center gy-3">
        <label for="userName">userName</label>
        <input type="text" id="userName" placeholder="userName">
        <label for="userAge"></label>
        <input type="text" id="userAge" placeholder="userAge">
        <label for="email">useremail</label>
        <input type="email" id="email" placeholder="email">
        <label for="password">password</label>
        <input type="password" id="password" placeholder="password">
    </div>
    <button class="p-2 rounded-2 btn text-uppercase  mt-3">send message</button>
  </div>
</section>
