<section class="text-center py-5">
    <div class="container">
        <div class="row">
            <div class="title">
                <h1 class="text-uppercase premium-color">portfolio component</h1>
                <div  class="position-relative star-portfolio">
                    <i class="fa-solid fa-star premium-color "></i>
                </div>
            </div>
            <div class="cards row gy-4">
                <div class="col-md-4 position-relative">
                    <img src="images/portfolio/poert1.png" class="w-100 rounded-3">
                    <div class="position-absolute row justify-content-center align-items-center layer rounded-3">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <img src="images/portfolio/port2.png" class="w-100 rounded-3">
                    <div class="position-absolute row justify-content-center align-items-center layer rounded-3">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <img src="images/portfolio/port3.png" class="w-100 rounded-3">
                    <div class="position-absolute row justify-content-center align-items-center layer rounded-3">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <img src="images/portfolio/port3.png" class="w-100 rounded-3">
                    <div class="position-absolute row justify-content-center align-items-center layer rounded-3">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <img src="images/portfolio/poert1.png" class="w-100 rounded-3">
                    <div class="position-absolute row justify-content-center align-items-center layer rounded-3">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <img src="images/portfolio/port2.png" class="w-100 rounded-3">
                    <div class="position-absolute row justify-content-center align-items-center layer rounded-3">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>