<section class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1 class="text-uppercase premium-color">portfolio component</h1>
        <div class="position-relative star-portfolio">
          <i class="fa-solid fa-star premium-color"></i>
        </div>
      </div>
      <div class="cards row gy-4">
        @for(img of myimg;track $index){
          <div class="col-lg-4 col-md-6 position-relative item">
            <figcaption (click)="showlight(img)" class="position-relative">
              <img [src]="img" class="w-100 rounded-3"/>
            <div class="position-absolute row justify-content-center align-items-center layer rounded-3 ">
              <i class="fa-solid fa-plus"></i>
            </div>
            </figcaption>
          </div>
        }
      </div>
    </div>
  </div>
</section>
<div class="light-container d-none" (click)="close()">
  <div class="light d-flex align-items-center justify-content-between" (click)="stopPopgration($event)">
    <i class="fa-regular fa-circle-xmark" id="close" (click)="close()"></i>
  </div>
</div>
